*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pagina{
    border: 1px solid black;
    width: 700;
    height: 500px;
}

header{
    border: 1px solid black;
    width: 100%;
    height: 60px;
    background-color: rgb(206, 206, 206);
    font-weight: bold;
    text-align: center;
}

nav{
    border: 1px solid black;
    width: 100%;
    height: 22px;
    background-color: white;
    font-weight: bold;
}

main{
    border: 1px solid black;
    width: 100%;
    height: 400px;
    display: flex;
}

.cols {
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#spam3 {
    background-color: rgb(206, 206, 206);
}

#col1{
    width: 25%;
}

#col2{
    width: 60%;
    position: relative;
}

#video {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}

#col3{
    width: 15%;
}

#col3div1 {
    border: 1px solid black;
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-botton: 5px;
}

label {
    width: 80px;
    text-align: right;
    font-weight: bold;
}

input {
    width: 75px;
}

#lembrar {
    align-items: left;
}

#labellembrar {
    text-align: right;
    font-weight: normal;
}

#col3div2 {
    border: 1px solid black;
    border-top: dotted;
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    border: 2px solid black;
    width: 100%;
    clear: both;
}

#footer1 {
    background-color: white;
    height: 35px;
    text-align: center;
}

#footer2 {
    background-color:  rgb(206, 206, 206);
    height: 25px;
    font-weight: bold;
}

