* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #d7f5f5, #bceaf3, #a0d8f1);
    background-attachment: fixed;
}


header, nav, aside, footer {
    width: 100%;
    padding: 10px;
    margin: -5px;
    font-family: 'Times New Roman', Times, serif;
}

header {
    height: 20vh;
    border: 2px solid black;
    text-align: center;
    font-size: 1.8vw;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#img3 {
    width: 30%;
    height: 30%;
    position: absolute;
    top: -5%;
    left: 12%;
}

nav {
    height: 12vh;
    margin-top: 20px;
    border: none;
    text-align: left;
    font-size: 2vw;
}

aside {
    width: 43%;
    height: auto;
    padding: 5px;
    margin-left: 55vw;
    margin-top: -14vh;
    border: 1px solid black;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 15px;
}

#img1, #img2 {
    width: 20%;
    height: auto;
    position: absolute;
    top: 70vh;
    left: 65%;
}

#comentandre {
    margin-bottom: 2%;
    margin-top: 3vh;
}

#img2 {
    top: 105vh;
}

#comentbruna, #comentandre {
    width: 50%;
    height: auto;
    padding: 10px;
    margin: -5px;
    margin-bottom: 2%;
    margin-top: 3vw;
    margin-left: 5vw;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
}

section, #section2 {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 9vw;
    margin-left: -5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    font-style: normal;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#section2 {
    margin-bottom: 5%;
    margin-top: -10vh;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#h2section2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
}

footer {
    height: 5vh;
    margin-top: 10px;
    border: none;
    text-align: justify;
    font-size: 1.5vw;
    font-weight: bold;
}

#section3 {
    height: 115vh;
}

#img5, #img6, #img7 {
    width: 30%;
    height: 25%;
    position: absolute;
    top: 70vh;
    left: 15%;
}

#img6 {
    margin-top: 1%;
    top: 105vh;
}

#img7 {
    margin-top: 2%;
    top: 140vh;
}

#comentatv1, #comentatv2, #comentatv3 {
    width: 50%;
    height: auto;
    padding: 10px;
    margin: -5px;
    margin-left: 75vh;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
}

#comentatv2 {
    margin-top: 25vh;
}

#comentatv3 {
    margin-top: 24vh;
}

#section3, #section4, #section5 {
    margin-bottom: 5%;
}

#fieldset1 {
    margin-left: -5vh;
}

#nome {
    margin-left: 2%;
}

#fieldset2 {
    margin-left: 25vh;
}

#legend {
    margin-left: -5%;
}

#enviar {
    margin-left: 38%;
}