* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #d7f5f5, #bceaf3, #a0d8f1);
    background-attachment: fixed;
}


header {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: -5px;
    border: 2px solid black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#img3 {
    width: 30%;
    height: 250px;
    position: absolute;
    top: -20px;
    left: 150px;
}

nav {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: -5px;
    margin-top: 20px;
    border: none;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

aside {
    width: 50%;
    height: 100px;
    padding: 5px;
    margin: -5px;
    margin-left: 615px;
    margin-top: -115px;
    border: 1px solid black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
}

#img1 {
    width: 20%;
    height: 200px;
    position: absolute;
    top: 550px;
    left: 850px;
}

#comentandre {
    width: 50%;
    height: 100px;
    padding: 10px;
    margin: -5px;
    margin-bottom: 200px;
    margin-top: 50px;
    margin-left: 75px;
    border: none;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#img2 {
    width: 20%;
    height: 200px;
    position: absolute;
    top: 850px;
    left: 850px;
}

#comentbruna {
    width: 50%;
    height: 100px;
    padding: 10px;
    margin: -5px;
    margin-left: 75px;
    border: none;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

section {
    width: 100%;
    height: 700px;
    padding: 10px;
    margin: 100px;
    margin-left: -5px;
    border: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: normal;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#section2 {
    width: 100%;
    height: 700px;
    padding: 10px;
    margin: 100px;
    margin-left: -5px;
    margin-bottom: 5%;
    margin-top: -100px;
    border: none;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

#h2section2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

footer {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin: -5px;
    margin-top: 10px;
    border: none;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}

#section3 {
    height: 1000px;
    margin-bottom: 5%;
}

#img5 {
    width: 30%;
    height: 250px;
    position: absolute;
    top: 500px;
    left: 150px;
}

#img6 {
    width: 30%;
    height: 250px;
    position: absolute;
    top: 800px;
    left: 150px;
}

#img7 {
    width: 30%;
    height: 250px;
    position: absolute;
    top: 1100px;
    left: 150px;
}

#comentatv1 {
    width: 50%;
    height: 100px;
    padding: 10px;
    margin: -5px;
    margin-left: 600px;
    border: none;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#comentatv2 {
    width: 50%;
    height: 100px;
    padding: 10px;
    margin: -5px;
    margin-left: 600px;
    margin-top: 200px;
    border: none;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#comentatv3 {
    width: 50%;
    height: 100px;
    padding: 10px;
    margin: -5px;
    margin-left: 600px;
    margin-top: 200px;
    border: none;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#section4 {
    margin-bottom: 5%;
}

#nome {
    margin-left: 2%;
}

#section5 {
    margin-bottom: 5%;
}

#fieldset {
    margin-left: 15%;
}

#legend {
    margin-left: -5%;
}

#enviar {
    margin-left: 38%;
}