* {
    box-sizing: border-box;
    color: #d1d1d1;
}

body {
    background: linear-gradient(to right, #1e272e, #485460, #2f3640);
    background-attachment: fixed;
}


header, aside, footer {
    width: 100%;
    padding: 10px;
    margin: -5px;
    font-family: 'Times New Roman', Times, serif;
}

header, #header2 {
    height: 20vh;
    border: 2px solid black;
    text-align: center;
    font-size: 1.8vw;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#header2 {
    height: 6vh;
    border-radius: 5px;
}

aside {
    width: 400px;
    height: 90%;
    padding: 5px;
    margin-left: 700px;
    margin-top: -320px;
    border: 1px solid black;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
}

section {
    width: 100%;
    height: 470px;
    padding: 10px;
    margin: 9vw;
    margin-left: -5px;
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    font-style: normal;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

footer {
    height: 5vh;
    margin-top: 5px;
    text-align: justify;
    font-size: 1.5vw;
    font-weight: bold;
}

div {
    width: 25px; 
    height: 25px; 
    background-color: #50C878;
    border: 2px solid black;
    border-radius: 8px; 
    cursor: pointer;
  }

  table {
    margin-top: 5px;
    margin-left: 200px;
  }
  
  #a1, #b2, #c4, #d5, #e6, #f7, #g8, #h9, #i10, #j1,  #a3, #b4, #c5, #d6, #e7, #f8, #g9, #h10, #i1, #j2, #a6, #b7, #c8, #d9, #e10, #div2 {
    background-color: #F5A623;
  }

  #a2, #b3, #c6, #d7, #e8, #f9, #g10, #h1, #i2, #j3, #a4, #b5, #c7, #d8, #e9, #f10, #g1, #h2, #i3, #j4, #a8, #b9, #c10, #d1, #e2, #div3 {
  background-color: #D96C6C;
}

#a5, #b6, #c9, #d10, #e1, #div4 {
    background-color: #9B59B6;
}

span {
    position: fixed;
    top: 70vh;
    left: 15vh;
}

#span2 {
    position: fixed;
    top: 75vh;
    left: 1vh;
    font-size: 16px;
}

input[type="time"], input[type="date"], input[type="text"], button[type="button"], 
select, select option {
    color: black; 
}

h1 {
    text-align: center;
}

#legenda {
    margin-top: -10px;
    display: flex;
    align-items: center; 
}

p {
    margin-right: 5px;
}
